{% extends 'TweetBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 tweet-feed">
            <h2>Latest Tweets</h2><hr />
                {% if message is iterable and message.status == 'ok' %}
                    <ul>
                        {% for res in message.response %}
                            {% set user = res.user %}
                            {% set tweet = res.text %}

                            {% if res.extended_entities is defined %}
                                {% set extendedEntities = res.extended_entities %}
                            {% endif %}

                            {% set userName       = user.name %}
                            {% set userScreenName = user.screen_name %}
                            {% set accountUrl     = "http://twitter.com/" ~ userScreenName %}
                            {% set tweetId        = res.id %}
                            {% set statusURL      = "http://twitter.com/" ~ userScreenName ~ "/status/" ~ tweetId %}
                            {% set tweetDate      =  res.created_at|date("F jS Y \\a\\t g:ia") %}

                            <li>
                                <div class="row tweet-info">
                                    <div class="col-sm-12">
                                        <div class="user-info pull-left">
                                            <a class="user-avatar-link pull-left" href="{{ accountUrl }}">
                                                <img class="user-avatar" src="{{ user.profile_image_url }}">
                                            </a>
                                            <span class="user-account pull-right">
                                                <a class="user-name" href="{{ accountUrl }}">{{ userName }}</strong></a>
                                                <a class="user-screenName" href="{{ accountUrl }}">@{{ userScreenName }}</a>
                                            </span>
                                        </div>
                                        <div class="tweet-date pull-right">
                                            <a class="permalink-status" href="{{ statusURL }}" target="_blank">
                                                {{ tweetDate }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="tweet-text">
                                            <p>
                                                {% autoescape %}
                                                    {{ tweet|TweetText|raw  }}
                                                {% endautoescape %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% if extendedEntities is defined and extendedEntities is not empty %}
                                    {% set media = extendedEntities.media %}
                                    {% set first = media|first %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="media-avatar-link" href="{{ accountUrl }}">
                                                <img class="media-avatar" src="{{ first.media_url }}">
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {# display error #}
                    {{ message.response }}
                {% endif %}
        </div>
    </div>
{% endblock %}