.tweet-feed ul>li{
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-top: 20px;
}

.tweet-text {
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: .01em;
}