<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tweet user's time-line{% endblock %}</title>
        <link rel="stylesheet"
              href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">

        {% stylesheets '@TweetBundle/Resources/public/css/*' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
        {% endstylesheets %}
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        {% endblock %}
    </body>
</html>